<!DOCTYPE html>
<html>
    <head>
        <style type="text/css">
            {% include "styles.css" %}
        </style>
        <title>{{title}}</title>
    </head>
    <body>
        <header>
            <div class="utility-menu">
                <ul>
                    {% if 'username' in session %}
                        <li>Welcome, {{session['username']}}</li>
                        <li><a href='/logout'>Log out</a></li>
                    {% else %}
                        <li><a href='/login'>Log in</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="navigation">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/newpost">New Post</a></li>
                </ul>
            </div>
        </header>
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>